body,ul,li{
    margin:0px;
    padding:0px;
}
ul{
    list-style:none;
}
.first{
    color:#408a44;
}
.second{
    color:#407dae;
}
body{
    margin-left:30px;
}
.firstPhytho{
}
.secondPhytho{
    position: absolute;
    float:right;
    top: 54px;
    left:155px;
}
.clearfix:after {
    color: '';
    display: block;
    clear: both;
}
.mainContent{
    width:300px;
    height:200px;
    position: relative;
}
img{
    width:76px;
    height:100px;
}
.yinpin{
    color:#c0c0c0
}
.phy{
    font-size:12px;
}