body,ul,li{
    margin:0;
    padding:0;
}
#container{
    width:100%;
    height:40px;
    background-color:#edf4ee;
}
.clearfix:after{
    color: '';
    display: block;
    clear: both;
}
ul{
    list-style:none;
    position: absolute;
}
.main-nav li{
    margin-left:20px;
    padding-top:8px;
    float:left;
}
.main-nav li>a{
   text-decoration: none;
   color:#589c7c;
}

.main-nav li>a:hover{
    cursor: pointer;
    color:#033e22;
 }
 span{
     width:3px;
     height:6px;
     background-color:#fec1b6;
     color:#ffffff;
     position: relative;
     right:5px;
     top:-15px;
 }